html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#main-container {
    min-height: -moz-calc(100% - 120px);
    min-height: -webkit-calc(100% - 120px);
    min-height: calc(100% - 120px);
}

@media only screen and (max-width: 576px) {
    .jumbotron h1 {
        font-size: 32px;
        font-weight: 400;
    }
    .jumbotron a {
        font-size: 1rem !important;
        padding: 10px !important;
    }
}

.form-container {
    margin: auto;
    width: 500px;
}
