* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

#main-container {
    min-height: -webkit-calc(100% - 144px);
    min-height: -moz-calc(100% - 144px);
    min-height: calc(100vh - 144px);
}
.form-container {
    margin: auto;
}

@media (min-width: 470px) {
    .form-container {
        width: 450px;
    }
}

.jumbotron {
    padding: 2rem 1rem;
}
.jumbotron h1 {
    font-size: 32px;
    font-weight: 400;
}
.jumbotron a {
    font-size: 1rem !important;
    padding: 10px !important;
}

.camp-card .card-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.camp-card .card {
    border: 0;
}

.camp-card .card-body{
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.btn-delete-comment {
    border: none;
    padding: 0;
    background: none;
    color: #e53935;
}

.btn-delete-comment:hover {
    color: #ff0000;
}
